<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="APITestingSuite">
    <test name="APITest">
        <groups>
            <run>
                <include name ="demo"/>
            </run>
        </groups>
        <packages>
            <package name="com.webservices.framework"/>
            <package name = "com.webservices.tests"/>

        </packages>
    </test>
</suite>